@page "/"

@inject IAccessTokenProvider TokenProvider
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

@attribute [AllowAnonymous]

<h3>Hello, world with Google Identity!</h3>



<p>Value: <span>@value</span></p>
<p>Expires: <span>@expires</span></p>


<button @onclick="DisplayToken">Display Access Token </button>
<style>
    p{
        font-size: .8em;
        font-weight: 900;
    }
    span{font-weight:100;}
</style>

@code
{
    private string value;
    private string expires;

    private async Task DisplayToken()
    {
        var tokenResult = await TokenProvider.RequestAccessToken();

        if (tokenResult.TryGetToken(out var token))
        {
            value = token.Value;
            expires = token.Expires.ToString();
        }
    }

}